body {
    background-color: #222; /* Fallback color */
    background-image:
        linear-gradient(45deg, #333 25%, transparent 25%),
        linear-gradient(-45deg, #333 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #333 75%),
        linear-gradient(-45deg, transparent 75%, #333 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

canvas {
    border: solid .2em #fff;
}

#tetris {
    height: 80vh;
}

.sidebar {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    margin-bottom: 1rem;
}

#next-1, #next-2 {
    border: solid .2em #fff;
    margin-bottom: 1rem;
}

.menu {
    margin-bottom: 1rem;
}

#start-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#start-button:hover {
    background-color: #45a049;
}